table.table-browser th {
    background-repeat:no-repeat;
    background-position:center center;
    font-weight:normal;
}

table.table-browser th:first-child {
    width: 15%;
}

table.table-browser th:not(:first-child) {
    /*background-color: black;*/
    /*max-width: 4em !important;*/
}


table.table-browser td:not(:first-child) {
    text-align:center;
}

table.table-browser .bs-edge        {background-image:url('/img/compatible_edge.gif');}
table.table-browser .bs-ie		    {background-image:url('/img/compatible_ie.gif');}
table.table-browser .bs-firefox	    {background-image:url('/img/compatible_firefox.gif')}
table.table-browser .bs-chrome	    {background-image:url('/img/compatible_chrome.gif');}
table.table-browser .bs-safari	    {background-image:url('/img/compatible_safari.gif');}
table.table-browser .bs-opera	    {background-image:url('/img/compatible_opera.gif')}

table.table-browser .bs-mob-android	    {background-image:url('/img/compatible_android.png')}
table.table-browser .bs-mob-firefox	    {background-image:url('/img/compatible_firefox.gif')}
table.table-browser .bs-mob-chrome	    {background-image:url('/img/compatible_chrome.gif');}
table.table-browser .bs-mob-safari	    {background-image:url('/img/compatible_safari.gif');}
table.table-browser .bs-mob-opera	    {background-image:url('/img/compatible_opera.gif')}